@media (max-width: 1200px) {
    .catalogo {
        display: grid;
        grid-template-areas: "categorias"
            "productos";
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
}

@media (min-width: 1280px) {
    .catalogo {
        display: grid;
        grid-template-areas: "categorias productos productos";
        grid-template-columns: 30% 35% 35%;
        grid-template-rows: auto;
    }
}

@media (max-width: 768px) {
    .nav__menu {
        width: 100%;
        display: none;
        background-color: #1565C0;
        border-radius: 8px;
    }

    .nav__menu ul {
        flex-direction: column;
        padding: 1rem;
    }

    .nav__icono {
        display: block;
    }

    .nav__checkbox:checked~.nav__menu {
        display: block;
    }

    .hero__contenido h1 {
        font-size: 1.8rem;
        margin-top: 2rem;
    }

    .hero__contenido p {
        font-size: 1rem;
    }

    .productos__titulo {
        font-size: 1.5rem;
    }

}