.hero__contenido {
    font-family: "Lobster";
    background-color: #1E88E5;
    color: #FAFAFA;
    padding: 5px;
    clip-path: ellipse(70% 50% at 50% 10%);
    height: 250px;
    word-spacing: 10px;
    letter-spacing: 3px;
}

.hero__contenido h1 {
    font-size: 3rem;
    margin-top: 10px;

}

.hero__contenido p {
    font-size: 1.5rem;
}
