.formulario__contacto {
    margin: auto;
    background: #1E88E5;
    padding-left: 30px;
    padding-right: 30px;
}

.formulario {
    max-width: 900px;
    margin: auto;
    background: #1E88E5;
    padding: 30px;
    border-left: 4px solid #1565C0;
    border-right: 4px solid #1565C0;
}

.formulario__contacto h2 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #ffffff;
    letter-spacing: 8px;
}

.formulario__contacto label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    letter-spacing: 3px;
}

.formulario__contacto input,
.formulario__contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.formulario__contacto button {
    background-color: rgb(240, 218, 189);
    color: #0D47A1;
    padding: 12px 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px #010302;
}

.formulario__contacto button:hover {
    background-color: #D7B899;
    color: #063970;
    border: 2px solid #1565C0;
}

/*Mensaje dentro de los input*/
input::placeholder,
textarea::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #757575;
  opacity: 1;     
}