.offers {
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.list-group-item--old {

    color: red;
    text-decoration: line-through;
    font-size: 19px;

}

.list-group-item--price {

        font-size: 18px;
        color: rgb(43, 41, 41);
        margin: 0;

}
