$color-primario: #1E88E5;
$color-secundario: #1565C0;
$color-fondo: rgb(240, 218, 189);
$color-texto: #333;
$color-hover: #D7B899;

$fuente-principal: 'Roboto', sans-serif;
$fuente-destacada: 'Lobster', cursive;

